html
    head
        title= currentDir
        meta(charset='utf-8')
        link(href='/assets/mdl/material.min.css' rel='stylesheet')
        link(href='/assets/mdl/material-icons.css' rel='stylesheet')
        link(href='/assets/css/github-markdown.css' rel='stylesheet')
        link(href='/assets/css/github-gist.css' rel='stylesheet')
        script(src='/assets/js/jquery-2.1.1.min.js')
        script(src='/assets/js/highlight.min.js')
        script(type='text/x-mathjax-config') MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
        script(src='/assets/js/MathJax.js')
    body
        div(class='mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header')
            header(class='mdl-layout__header')
                div(class='mdl-layout__header-row')
                    div(class='mdl-layout-spacer')
                    nav(class='mdl-navigation')
                        each anchor in anchors
                            a(class='mdl-navigation__link' href=anchor.href) !{anchor.label}
            div(class='mdl-layout__drawer')
                span(class='mdl-layout-title')=currentDir
                nav(class='mdl-navigation')
                    if parentDirectory != '' && parentDirectory != baseDir
                        a(class='mdl-navigation__link' href='/?type=dir&path='+parentDirectory)
                            i(class='material-icons') reply
                    each dir in dirs
                        if dir.type === 'dir'
                            a(class='mdl-navigation__link' href='/?type=dir&path='+encodeURIComponent(baseDir +'/'+ dir.path))=dir.path
                        else
                            a(class='mdl-navigation__link' href='/?type=file&path='+encodeURIComponent(baseDir)+'&file='+dir.path)=dir.path
            main(class='mdl-layout__content')
                div(class='page-content')
                    div !{html}